@{
    ViewBag.Title = "Patrick Yee - Projects";
    }

<div class="container">
    <div class="jumbotron">
        <h1>Projects</h1>
        <p>A collection of projects and design documents.  The most recent projects are from SeedPaths, Patrick was in an 8-week intensive boot camp freshen up his programming skills and learning new knowledge or continuing programming languages.  Patrick has some of the projects from Westwood College.  He received knowledge for engineering games and write detailed game design.  Patrick used <a href="http://www.gamasutra.com/view/feature/131791/the_anatomy_of_a_design_document_.php"> Gamasutra's 'The Anatomy of a Design Document'</a>, recent Patrick received another design document and updated some of the documents.</p>
        <h3>SeedPaths Projects</h3>
        <ul>
            <li><a href="@Url.Action("Recent", "Projects", "Top")">Recent</a>
                <ul>
                    <li><a href="@Url.Action("Recent", "Projects", new { id = "Favor" })#Favor">Favorit.es</a></li>
                    <li><a href="@Url.Action("Recent", "Projects", new {id="Nibbler"})#Nibbler">Cheese Nibbler</a></li>
                    <li><a href="@Url.Action("Recent", "Projects", new{id="Master"})#Master">Master of the Universe</a></li>
                    <li><a href="@Url.Action("Recent", "Projects", new{id="Poker"})#Poker">Poker Player</a></li>
                    <li><a href="@Url.Action("Recent", "Projects", new{id="Speed"})#Speed">Speed is the Key</a></li>
                    <li><a href="@Url.Action("Recent", "Projects", new{id="CSV"})#CSV">CSV: Listening Habits and Real Estate</a></li>
                    <li><a href="@Url.Action("Recent", "Projects", new{id="Daily"})#Daily">Reddit: Daily Programmer</a></li>
                    <li><a href="@Url.Action("Recent", "Projects", new{id="Hanging"})#Hanging">The Hanging Man</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("Upcoming", "Projects")">Upcoming and Past Projects</a>
                <ul>
                    <li><a href="@Url.Action("Upcoming", "Projects")#Bots">Battlebots</a></li>
                    <li><a href="@Url.Action("Upcoming", "Projects")#King">Kingdoms</a></li>
                </ul>
            </li>
            <li><a href="@Url.Action("Upcoming", "Projects", new{id ="Past"})#Past">Past Projects</a>
            </li>
        </ul>
    </div>
</div>
