<!--
    About page
-->
<title>About Patrick Yee</title>
<div class="container">
    <div class="jumbotron">
        <h1>@ViewBag.tl_About</h1>
        <h2>@ViewBag.tl_Portfolio</h2>
        <p>@ViewBag.txt_Portfolio</p>
        <h2>@ViewBag.tl_PatStory</h2>
        <p>@ViewBag.txt_PatStoryP1</p>
        <p>@ViewBag.txt_PatStoryP2</p>
        <p>@ViewBag.txt_PatStoryP3</p>
</div>
</div>
