<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/font-awesome.css"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header pull-right">
                        <a href="@Url.Action("Index", "Home")" class="navbar-brand"><img class="img-circle" src="https://lh3.googleusercontent.com/-G07gdjMMKN8/VPTt4A--0KI/AAAAAAAAACw/emsVqhH1bRk/s200/Feb%2B20%2C%2B2015%2B12%3A36%3A25%2BPM.jpg" alt="Google+ Avatar" />Patrick Yee - Portfolio</a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li><a href="@Url.Action("About", "Home")">About</a></li>
                            <li><a href="@Url.Action("Resume", "Home")">Resume</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@Url.Action("Recent", "Projects")#top"><h3>Recent Projects</h3></a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Recent", "Projects", new { id = "Favor" })#Favor">Favorit.es</a></li>
                                    <li><a href="@Url.Action("Recent", "Projects", new {id="Nibbler"})#Nibbler">Cheese Nibbler</a></li>
                                    <li><a href="@Url.Action("Recent", "Projects", new{id="Master"})#Master">Master of the Universe</a></li>
                                    <li><a href="@Url.Action("Recent", "Projects", new{id="Poker"})#Poker">Poker Player</a></li>
                                    <li><a href="@Url.Action("Recent", "Projects", new{id="Speed"})#Speed">Speed is the Key</a></li>
                                    <li><a href="@Url.Action("Recent", "Projects", new{id="CSV"})#CSV">CSV: Listening Habits and Real Estate</a></li>
                                    <li><a href="@Url.Action("Recent", "Projects", new{id="Daily"})#Daily">Reddit: Daily Programmer</a></li>
                                    <li><a href="@Url.Action("Recent", "Projects", new{id="Hanging"})#Hanging">The Hanging Man</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Upcoming", "Projects")"><h3>Upcoming and Past Projects</h3></a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Upcoming", "Projects")#Bots">Battlebots</a></li>
                                    <li><a href="@Url.Action("Upcoming", "Projects")#King">Kingdoms</a></li>
                                    <li><a href="@Url.Action("Upcoming", "Projects", new{id ="Past"})#Past">Past Projects</a>
                                    </ul>
                            </li>
                            <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        @RenderBody()
    <div class="container">
        <hr />
            <section class="container jumbotron socialFooter">
                <div class="navbar-text row">
                    <!--fontawesome icons-->
                    <a href="https://github.com/patrickshyee" target="_blank"><i class="fa fa-github-square fa-4x"></i></a>
                    <a href="https://plus.google.com/u/0/115645219445068963390/about" target="_blank"><i class="fa fa-google-plus-square fa-4x"></i></a>
                    <a href="https://www.facebook.com/5k3l3t0r" target="_blank"><i class="fa fa-facebook-square fa-4x"></i></a>
                    <a href="http://steamcommunity.com/id/5k3l3t0r" target="_blank"><i class="fa fa-steam-square fa-4x"></i></a>
                    <a href="https://soundcloud.com/5k3l3t0rgamer" target="_blank"><i class="fa fa-soundcloud fa-4x"></i></a>
                </div>
                <footer class="text-right">
                    <p style="color:#000000">&copy; @DateTime.Now.Year - PY Development Application</p>
                </footer>
                </section>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
